.menu {
  flex-direction: column;
}

.menu nav > ul {
  border: var(--front-thin-border);
  border-radius: 2rem;
  padding: 0.75rem 0;
  font-size: 1.75rem;
  /* color: var(--front-color); */
  /* background-color: var(--black-color); */
  cursor: pointer;
  /* Estilos responsive */
  justify-content: space-between;
}

nav {
  width: 50%;
  background-color: var(--background-color);
}

@media screen and (max-width: 425px) {
  .menu a {
    font-size: 1.3rem;
  }
}

nav li {
  background-color: transparent;
}

nav a {
  border: var(--transparent-thin-border);
  border-radius: 2rem;
  padding: 0.75rem;
  color: var(--front-color);
  background-color: transparent;
  text-decoration: none;
  transition: all 0.35s;
}

nav a:hover {
  border: var(--front-thin-border);
  /* border-radius: 2rem; */
  color: var(--background-color);
  background-color: var(--front-color);
}

nav a.active {
  border: var(--front-thin-border);
  /* border-radius: 2rem; */
  color: var(--background-color);
  background-color: var(--front-color);
}
