.cabecera {
  height: 15rem;
  padding: 0 2rem 0;
  background-color: var(--background-color);
  /* Estilos responsive */
  flex-direction: column;
}

.cabecera > h1 a::after {
  content: '';

  display: inline-block;
  width: 40px;
  height: 40px;

  margin-left: 10px;

  background-image: url('/assets/images/loader.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  vertical-align: middle;
}

.cabecera > h1 > a {
  color: var(--front-color);
}

.cabecera > div {
  width: 100%;
  /* Estilos responsive */
  justify-content: space-between;
}
